{% extends 'base.html' %}

{% block title %}
    TabParam
{% endblock %}

{% block h2 %}
    Tabela de Preços
{% endblock %}

{% block main %}

    &nbsp; Descrição &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Valor <br>
    --------------------------------------------------- <br>

    {% for param in dados %}
        <div class="row">
            <div class="col">{{ param.descricao }}</div>
            <div class="col">{{ param.valor }}</div>
            <div class="col">Editar | Excluir</div>
        </div>
    {% endfor %}

{% endblock %}